* {
    margin: 0;
    padding: 0;
}

@media screen and(min-width:640px) {
    html {
        font-size: 64px !important;
    }
}

@media screen and(max-width:319px) {
    html {
        font-size: 32px !important;
    }
}

body {
    width: 640/64rem;
    margin: 0 auto;
    font-size: 16/64rem !important;
}

.container {
    position: absolute;
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .describe {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        .animation {
            position: absolute;

            img {
                animation: rotate1 15s linear infinite;
                width: 5rem;
                height: 5rem;
                display: block;
            }

            @keyframes rotate1 {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }
        }

        .word {
            position: absolute;

            .title {
                color: #ffffff;
                font-weight: 800;
                font-size: .65625rem;
                padding-bottom: .15625rem;
                border-bottom: 1px solid #ffffff;
            }

            .desc {
                font-size: .375rem;
                color: #ffffff;
            }
        }
    }

    .function {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .order,
        .query {
            width: 8.25rem;
            height: 3rem;
            border-radius: .3125rem;
            background: #ffffff;
        }

        .order {
            margin-bottom: .3125rem;
        }
    }
}