* {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 640px) {
  html {
    font-size: 64px !important;
  }
}
@media screen and (max-width: 319px) {
  html {
    font-size: 32px !important;
  }
}
body {
  width: 640/64rem;
  margin: 0 auto;
  font-size: 16/64rem !important;
}
.line1 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.375rem;
  background: #53cbe0;
  display: flex;
}
.header .title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.4375rem;
}
.header .operation {
  height: 1.375rem;
  width: 1.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .operation img {
  display: block;
  width: 0.65625rem;
  height: 0.65625rem;
}
.container {
  margin-top: 1.375rem;
}
.container header {
  width: 100%;
  height: 1.25rem;
  background-color: #f8f8f8;
}
.container header .tabs {
  width: 100%;
  height: 1.25rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container header .tabs li {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.0625rem solid transparent;
}
.container header .tabs li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4375rem;
  text-decoration: none;
  color: #888888;
}
.container header .tabs .default {
  border-bottom: 0.0625rem solid #139dea;
  box-sizing: border-box;
}
.container header .tabs .default a {
  color: #139dea;
}
.container .swiper-container {
  font-size: 0.40625rem;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_item {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.0625rem 0.15625rem;
  height: 1rem;
  border-bottom: 0.015625rem solid #eeeeee;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_item select option {
  width: 1.875rem;
  height: auto;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_item .item_l {
  flex: 1;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_item .item_r {
  flex: 3;
  outline: none;
  border: none;
  font-size: 0.40625rem;
  color: #888888;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_item .item_code {
  flex: 3;
  outline: none;
  border: none;
  font-size: 0.40625rem;
  color: #888888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_item .item_code .code {
  outline: none;
  border: none;
  width: 2.5rem;
  font-size: 0.40625rem;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_item .item_code .codeBtn {
  width: 2.8125rem;
  color: #ffffff;
  background-color: #53ccdf;
  height: 100%;
  font-size: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.15625rem;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_item .red {
  width: 0.15625rem;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_xitem {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.0625rem 0.15625rem;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_xitem .desc {
  margin-top: 0.15625rem;
  display: block;
  width: 100%;
  height: 1.875rem;
  resize: none;
  outline: none;
  border: 1px solid #888888;
  border-radius: 0.15625rem;
}
.container .swiper-container .swiper-wrapper .swiper-slide .slide_xitem .desc2 {
  margin-top: 0.15625rem;
  display: block;
  width: 100%;
  height: 1.875rem;
  resize: none;
  outline: none;
  border: 1px solid #888888;
  border-radius: 0.15625rem;
}
.container .swiper-container .swiper-wrapper .swiper-slide .quickBtn {
  margin-top: 0.3125rem;
  width: 100%;
  height: 1.40625rem;
  background-color: #53ccdf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4375rem;
  color: #ffffff;
}
.container .swiper-container .swiper-wrapper .swiper-slide .quickBtn2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.40625rem;
  background-color: #53ccdf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4375rem;
  color: #ffffff;
}
.container .tips {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.75rem;
  height: 1.09375rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.15625rem;
  align-items: center;
  font-size: 0.4375rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.09375rem;
  z-index: 1000;
  display: none;
}
